# BIG DATA MANAGEMENT - Term 1

Assignment by - Group 11

Date : 2025-05-06

Group â€“ 11

PG-ID	    | Name	            | Email\
12420009	| Dacha Bhavana	    | Dacha_Bhavana_ampba2025W@isb.edu\
12420054	| Kirthika Chandan	| Kirthika_Chandan_ampba2025W@isb.edu\
12420055	| Abhinav Paul	    | Abhinav_Paul_ampba2025W@isb.edu\
12420070	| Saketh Gutha	    | Saketh_Gutha_ampba2025W@isb.edu

In [71]:
# insatlling pyspark
# ! pip install pyspark

In [72]:
# import Statements
import pandas as pd
import pandas as pd

In [73]:
# Read in Data from csv into pandas Dataframe with collumn names also specified
pd_df_transactions = pd.read_csv('transactions.csv'
                          , names=['tranID','ProdID','userID','price','prod_desc'] # passing the column names
                          , header=None # as the csv file doesnot have column names
                          )

pd_df_users = pd.read_csv('users.csv'
                    , names=['userID','emailID','native_lang','loc'] # passing the column names
                    , header=None # as the csv file doesnot have column names
                  )

pd_df_olympics = pd.read_csv('olympics.csv'
                       , names = ['player_name', 'age', 'country', 'year', 'date', 'event', 'gold', 'silver', 'bronze', 'total'] # passing the column names
                       , header=None # as the csv file doesnot have column names
                       , sep='\t' # cause the data is not comma seperated but tab '\t' seperated in the file
                       )

In [74]:
# Cheking for Row and column imports completeness
print(  pd_df_transactions.shape
      , pd_df_users.shape
      , pd_df_olympics.shape
    )

# null Value checks
print(  pd_df_transactions.isna().sum()
      , pd_df_users.isna().sum()
      , pd_df_olympics.isna().sum()
    )

(15, 5) (30, 4) (8618, 10)
tranID       0
ProdID       0
userID       0
price        0
prod_desc    0
dtype: int64 userID         0
emailID        0
native_lang    0
loc            0
dtype: int64 player_name    5
age            5
country        0
year           0
date           0
event          0
gold           0
silver         0
bronze         0
total          0
dtype: int64

SPARK based Opration statrts from here

In [75]:
#Creating a new spark session and assigning name to it
from pyspark import SparkContext

sc = SparkContext.getOrCreate() # Spark Core starts here

#### Question 1

In [76]:
# convert the Pandas DataFrame to Spark RDD
rdd_transactions = sc.parallelize(pd_df_transactions.values.tolist())
rdd_users = sc.parallelize(pd_df_users.values.tolist())

In [77]:
rdd_users.collect()

[[1, 'user1@company.com', 'ES', 'MX'],
 [2, 'user4@domain.com', 'EN', 'US'],
 [3, 'user5@company.com', 'FR', 'FR'],
 [4, 'user9@site.org', 'HI', 'IN'],
 [5, 'user12@service.io', 'EN', 'CA'],
 [6, 'user17@website.net', 'FR', 'FR'],
 [7, 'user21@company.com', 'FR', 'FR'],
 [8, 'user25@company.com', 'FR', 'FR'],
 [9, 'user27@school.edu', 'ES', 'MX'],
 [10, 'user31@website.net', 'EN', 'CA'],
 [11, 'user36@website.net', 'FR', 'FR'],
 [12, 'user39@domain.com', 'FR', 'FR'],
 [13, 'user41@company.com', 'ES', 'MX'],
 [14, 'user45@domain.com', 'HI', 'IN'],
 [15, 'user48@site.org', 'ES', 'MX'],
 [16, 'user53@school.edu', 'EN', 'US'],
 [17, 'user57@school.edu', 'ES', 'MX'],
 [18, 'user59@website.net', 'HI', 'IN'],
 [19, 'user64@school.edu', 'EN', 'US'],
 [20, 'user67@domain.com', 'HI', 'IN'],
 [21, 'user68@site.org', 'EN', 'US'],
 [22, 'user71@domain.com', 'ES', 'MX'],
 [23, 'user74@service.io', 'EN', 'US'],
 [24, 'user79@website.net', 'ES', 'MX'],
 [25, 'user81@site.org', 'EN', 'US'],
 [26, 'user85@service.io', 'HI', 'IN'],
 [27, 'user89@service.io', 'EN', 'CA'],
 [28, 'user91@company.com', 'EN', 'CA'],
 [29, 'user96@site.org', 'ES', 'MX'],
 [30, 'user99@website.net', 'EN', 'US']]

In [78]:
rdd_transactions.collect()

[[1, 1004, 19, 129, 'whatchamacallit'],
 [2, 1001, 10, 99, 'thingamajig'],
 [3, 1004, 17, 129, 'whatchamacallit'],
 [4, 1001, 9, 99, 'thingamajig'],
 [5, 1003, 3, 89, 'gadget'],
 [6, 1002, 19, 149, 'gizmo'],
 [7, 1002, 30, 149, 'gizmo'],
 [8, 1002, 26, 149, 'gizmo'],
 [9, 1001, 22, 99, 'thingamajig'],
 [10, 1003, 6, 89, 'gadget'],
 [11, 1004, 1, 129, 'whatchamacallit'],
 [12, 1004, 2, 129, 'whatchamacallit'],
 [13, 1005, 5, 199, 'doohickey'],
 [14, 1004, 7, 129, 'whatchamacallit'],
 [15, 1002, 16, 149, 'gizmo']]

In [79]:
pd_df_transactions.head(2)

   tranID  ProdID  userID  price        prod_desc
0       1    1004      19    129  whatchamacallit
1       2    1001      10     99      thingamajig

In [80]:
# Question 1(a) - Count of Unique Location across the Product Sold Informations
# Users Key value pairing: (UserID, (Location))
kv_user_loc = rdd_users.map(lambda x: (x[0], (x[3])))
print("Rows in the Users Key value pairing: (UserID, (EmailID, Location)) :", kv_user_loc.count()) # Row count check

# Transactions Key value pairing: (UserID, (product_id, prod_desc, price))
kv_user_prod = rdd_transactions.map(lambda x: (x[2], (x[1], x[4], x[3])))
print("Rows in the Transactions Key value pairing: (UserID, (product_id, prod_desc, price)) :", kv_user_prod.count()) # Row count check

# Product Sold across the Location Informations
user_loc_prod_rdd = kv_user_loc.join(kv_user_prod)
print("Rows in the combined RDD containing the User and Location combination :", user_loc_prod_rdd.count()) # Row count check
print("Combined Location Product RDD :", user_loc_prod_rdd.count(), "\n", user_loc_prod_rdd.collect())

# Identifying the productID and product description values from the combined RDD and reducing it to unique product level RDD
test_rdd = user_loc_prod_rdd.map(lambda x: (x[1][1][0], x[1][0])).distinct().map(lambda x: (x[0], 1)).reduceByKey(lambda a, b: a + b)
print("\nAnswer to Q.1(a) - \n")
test_rdd.collect()

Rows in the Users Key value pairing: (UserID, (EmailID, Location)) : 30
Rows in the Transactions Key value pairing: (UserID, (product_id, prod_desc, price)) : 15
Rows in the combined RDD containing the User and Location combination : 15
Combined Location Product RDD : 15
 [(16, ('US', (1002, 'gizmo', 149))), (1, ('MX', (1004, 'whatchamacallit', 129))), (5, ('CA', (1005, 'doohickey', 199))), (9, ('MX', (1001, 'thingamajig', 99))), (17, ('MX', (1004, 'whatchamacallit', 129))), (2, ('US', (1004, 'whatchamacallit', 129))), (6, ('FR', (1003, 'gadget', 89))), (10, ('CA', (1001, 'thingamajig', 99))), (22, ('MX', (1001, 'thingamajig', 99))), (26, ('IN', (1002, 'gizmo', 149))), (30, ('US', (1002, 'gizmo', 149))), (3, ('FR', (1003, 'gadget', 89))), (7, ('FR', (1004, 'whatchamacallit', 129))), (19, ('US', (1004, 'whatchamacallit', 129))), (19, ('US', (1002, 'gizmo', 149)))]

Answer to Q.1(a) -

[(1004, 3), (1001, 2), (1005, 1), (1002, 2), (1003, 1)]

In [81]:
# Question - 1(b) - Mapping each product bought by UserID

# Users Key value pairing: ((UserID, EmailID),1)
kv_user_email = rdd_users.map(lambda x: (x[0],(x[1])))
print("Rows in the Users Key value pairing: (UserID, (EmailID)) :", kv_user_email.count()) # Row count check

# Transactions Key value pairing: (UserID, (product_id, prod_desc, price))
kv_user_prod = rdd_transactions.map(lambda x: (x[2], (x[1], x[4], x[3])))
print("Rows in the Transactions Key value pairing: (UserID, (product_id, price, prod_desc)) :", kv_user_prod.count()) # Row count check

# Product Sold across the user Informations
user_prod_rdd = kv_user_email.join(kv_user_prod)
test = user_prod_rdd
user_prod_rdd = user_prod_rdd.map(lambda x: ((x[0], x[1][0]), (x[1][1][0], x[1][1][1]))).groupByKey().mapValues(list)
print("Rows in the combined RDD containing the User and Product combination :", user_prod_rdd.count()) # Row count check
print("Combined Location Product RDD :", user_prod_rdd.count(), "\nAnswer to Q.1(b) - \n")
user_prod_rdd.collect()

Rows in the Users Key value pairing: (UserID, (EmailID)) : 30
Rows in the Transactions Key value pairing: (UserID, (product_id, price, prod_desc)) : 15
Rows in the combined RDD containing the User and Product combination : 14
Combined Location Product RDD : 14
Answer to Q.1(b) -

[((17, 'user57@school.edu'), [(1004, 'whatchamacallit')]),
 ((2, 'user4@domain.com'), [(1004, 'whatchamacallit')]),
 ((22, 'user71@domain.com'), [(1001, 'thingamajig')]),
 ((30, 'user99@website.net'), [(1002, 'gizmo')]),
 ((7, 'user21@company.com'), [(1004, 'whatchamacallit')]),
 ((19, 'user64@school.edu'), [(1004, 'whatchamacallit'), (1002, 'gizmo')]),
 ((16, 'user53@school.edu'), [(1002, 'gizmo')]),
 ((10, 'user31@website.net'), [(1001, 'thingamajig')]),
 ((1, 'user1@company.com'), [(1004, 'whatchamacallit')]),
 ((9, 'user27@school.edu'), [(1001, 'thingamajig')]),
 ((5, 'user12@service.io'), [(1005, 'doohickey')]),
 ((6, 'user17@website.net'), [(1003, 'gadget')]),
 ((26, 'user85@service.io'), [(1002, 'gizmo')]),
 ((3, 'user5@company.com'), [(1003, 'gadget')])]

In [82]:
# Question - 1(c) - Total Spending by each users on each Product

# Price paid for each Product User Combination in a transaction table
user_prod_rdd = kv_user_email.join(kv_user_prod)
user_prod_price_rdd = user_prod_rdd.map(lambda x: ((x[0], x[1][0], x[1][1][0], x[1][1][1]), (x[1][1][2])))
print("Rows in the combined RDD containing the User and Product price paid in the transaction :", user_prod_price_rdd.count()) # Row count check

# Identifying the productID and product description values from the combined RDD and reducing it to unique product level RDD
test_rdd = user_prod_price_rdd.reduceByKey(lambda a, b: a + b)
total_sum = test_rdd.map(lambda x: x[1]).reduce(lambda a, b: a + b)
print("Total Transaction amount accounting (to check for completeness) :", total_sum) # Row count check
print("Same data from pandas DataFrame (to check for completeness) :", pd_df_transactions.price.sum())

print("\nAnswer to Q.1(c) - \nAggregated table on total spending on User products combination in transactions\n")
test_rdd.collect()

Rows in the combined RDD containing the User and Product price paid in the transaction : 15
Total Transaction amount accounting (to check for completeness) : 1915
Same data from pandas DataFrame (to check for completeness) : 1915

Answer to Q.1(c) -
Aggregated table on total spending on User products combination in transactions

[((16, 'user53@school.edu', 1002, 'gizmo'), 149),
 ((10, 'user31@website.net', 1001, 'thingamajig'), 99),
 ((5, 'user12@service.io', 1005, 'doohickey'), 199),
 ((17, 'user57@school.edu', 1004, 'whatchamacallit'), 129),
 ((2, 'user4@domain.com', 1004, 'whatchamacallit'), 129),
 ((22, 'user71@domain.com', 1001, 'thingamajig'), 99),
 ((30, 'user99@website.net', 1002, 'gizmo'), 149),
 ((7, 'user21@company.com', 1004, 'whatchamacallit'), 129),
 ((19, 'user64@school.edu', 1004, 'whatchamacallit'), 129),
 ((19, 'user64@school.edu', 1002, 'gizmo'), 149),
 ((6, 'user17@website.net', 1003, 'gadget'), 89),
 ((26, 'user85@service.io', 1002, 'gizmo'), 149),
 ((3, 'user5@company.com', 1003, 'gadget'), 89),
 ((1, 'user1@company.com', 1004, 'whatchamacallit'), 129),
 ((9, 'user27@school.edu', 1001, 'thingamajig'), 99)]

#### Question 2

In [83]:
# convert the Pandas DataFrame to Spark RDD
rdd_olympics = sc.parallelize(pd_df_olympics.values.tolist())
rdd_olympics.take(1)
# adding semicolon to not show the final output in the run.
# Came to know about this from the GenAI help

[['Michael Phelps',
  23.0,
  'United States',
  2008,
  '08-24-08',
  'Swimming',
  8,
  0,
  0,
  8]]

In [91]:
# Question 2(a) - Total Medals won by each country across different Events

# Country_Event Key paired with Medals (Gold, Silver, Broze, Total)
country_event_rdd = rdd_olympics.map(lambda x: ((x[2], x[5]), (x[6], x[7], x[8], x[9])))
agg_country_event_rdd = country_event_rdd.map(lambda x: (x[0], x[1][3])).reduceByKey(lambda a, b: a + b)
print("\nAnswer to Q.2(a) - \n")
agg_country_event_rdd.collect()

Answer to Q.2(a) -

[(('United States', 'Swimming'), 267),
 (('Canada', 'Speed Skating'), 26),
 (('United States', 'Gymnastics'), 55),
 (('Zimbabwe', 'Swimming'), 7),
 (('Netherlands', 'Swimming'), 46),
 (('Poland', 'Swimming'), 3),
 (('South Africa', 'Swimming'), 11),
 (('United States', 'Short-Track Speed Skating'), 23),
 (('Canada', 'Short-Track Speed Skating'), 38),
 (('United States', 'Speed Skating'), 22),
 (('Netherlands', 'Speed Skating'), 31),
 (('Austria', 'Ski Jumping'), 12),
 (('Norway', 'Ski Jumping'), 11),
 (('Germany', 'Nordic Combined'), 15),
 (('China', 'Cycling'), 7),
 (('France', 'Cycling'), 30),
 (('Sweden', 'Cross Country Skiing'), 22),
 (('Italy', 'Cross Country Skiing'), 20),
 (('Russia', 'Cross Country Skiing'), 21),
 (('Germany', 'Biathlon'), 40),
 (('Russia', 'Biathlon'), 27),
 (('Sweden', 'Alpine Skiing'), 8),
 (('Belarus', 'Tennis'), 3),
 (('United States', 'Tennis'), 16),
 (('Great Britain', 'Tennis'), 3),
 (('Spain', 'Synchronized Swimming'), 21),
 (('United States', 'Synchronized Swimming'), 11),
 (('Great Britain', 'Swimming'), 11),
 (('Spain', 'Swimming'), 3),
 (('Belarus', 'Swimming'), 2),
 (('Brazil', 'Swimming'), 8),
 (('Austria', 'Swimming'), 3),
 (('Switzerland', 'Ski Jumping'), 4),
 (('Poland', 'Ski Jumping'), 4),
 (('Finland', 'Ski Jumping'), 10),
 (('Italy', 'Shooting'), 13),
 (('South Korea', 'Shooting'), 11),
 (('Ukraine', 'Shooting'), 7),
 (('Czech Republic', 'Shooting'), 8),
 (('Russia', 'Shooting'), 21),
 (('Bulgaria', 'Shooting'), 4),
 (('China', 'Shooting'), 32),
 (('Netherlands', 'Rowing'), 55),
 (('Great Britain', 'Gymnastics'), 9),
 (('Italy', 'Fencing'), 57),
 (('China', 'Fencing'), 23),
 (('France', 'Fencing'), 36),
 (('Germany', 'Fencing'), 22),
 (('Germany', 'Equestrian'), 40),
 (('Australia', 'Equestrian'), 10),
 (('United States', 'Diving'), 8),
 (('Canada', 'Diving'), 12),
 (('Germany', 'Cycling'), 36),
 (('Australia', 'Cycling'), 36),
 (('Russia', 'Cycling'), 15),
 (('Czech Republic', 'Cross Country Skiing'), 10),
 (('Germany', 'Cross Country Skiing'), 31),
 (('Estonia', 'Cross Country Skiing'), 7),
 (('Great Britain', 'Canoeing'), 15),
 (('Spain', 'Canoeing'), 9),
 (('Belarus', 'Canoeing'), 18),
 (('Norway', 'Canoeing'), 7),
 (('Canada', 'Canoeing'), 10),
 (('Switzerland', 'Bobsleigh'), 10),
 (('France', 'Biathlon'), 24),
 (('Slovakia', 'Biathlon'), 3),
 (('Sweden', 'Biathlon'), 5),
 (('China', 'Badminton'), 44),
 (('South Korea', 'Badminton'), 19),
 (('Russia', 'Athletics'), 98),
 (('Kenya', 'Athletics'), 39),
 (('Ethiopia', 'Athletics'), 29),
 (('Trinidad and Tobago', 'Athletics'), 18),
 (('Australia', 'Athletics'), 16),
 (('Morocco', 'Athletics'), 10),
 (('Bahamas', 'Athletics'), 24),
 (('Romania', 'Athletics'), 9),
 (('Germany', 'Alpine Skiing'), 4),
 (('United States', 'Archery'), 7),
 (('Ukraine', 'Wrestling'), 10),
 (('Sweden', 'Wrestling'), 4),
 (('Egypt', 'Wrestling'), 2),
 (('France', 'Wrestling'), 5),
 (('Japan', 'Wrestling'), 19),
 (('China', 'Wrestling'), 6),
 (('Lithuania', 'Wrestling'), 2),
 (('Russia', 'Wrestling'), 41),
 (('South Korea', 'Wrestling'), 8),
 (('Cuba', 'Wrestling'), 11),
 (('Hungary', 'Wrestling'), 5),
 (('Estonia', 'Wrestling'), 1),
 (('Uzbekistan', 'Wrestling'), 8),
 (('Bulgaria', 'Wrestling'), 8),
 (('Germany', 'Wrestling'), 1),
 (('Italy', 'Wrestling'), 1),
 (('Slovakia', 'Wrestling'), 1),
 (('Macedonia', 'Wrestling'), 1),
 (('Iran', 'Weightlifting'), 7),
 (('Poland', 'Weightlifting'), 6),
 (('Kazakhstan', 'Weightlifting'), 9),
 (('Moldova', 'Weightlifting'), 2),
 (('Colombia', 'Weightlifting'), 4),
 (('Canada', 'Weightlifting'), 1),
 (('Indonesia', 'Weightlifting'), 8),
 (('Armenia', 'Weightlifting'), 5),
 (('North Korea', 'Weightlifting'), 8),
 (('Belarus', 'Weightlifting'), 10),
 (('Thailand', 'Weightlifting'), 7),
 (('Azerbaijan', 'Weightlifting'), 1),
 (('Vietnam', 'Weightlifting'), 1),
 (('Turkey', 'Weightlifting'), 6),
 (('Latvia', 'Weightlifting'), 2),
 (('Georgia', 'Weightlifting'), 2),
 (('Greece', 'Weightlifting'), 6),
 (('Croatia', 'Weightlifting'), 2),
 (('United States', 'Weightlifting'), 2),
 (('India', 'Weightlifting'), 1),
 (('Qatar', 'Weightlifting'), 1),
 (('United States', 'Waterpolo'), 63),
 (('Spain', 'Waterpolo'), 12),
 (('Croatia', 'Waterpolo'), 13),
 (('Netherlands', 'Waterpolo'), 12),
 (('Greece', 'Waterpolo'), 13),
 (('Brazil', 'Volleyball'), 72),
 (('United States', 'Volleyball'), 36),
 (('North Korea', 'Table Tennis'), 1),
 (('Hong Kong', 'Table Tennis'), 2),
 (('Denmark', 'Table Tennis'), 2),
 (('Australia', 'Triathlon'), 5),
 (('Sweden', 'Triathlon'), 1),
 (('Germany', 'Triathlon'), 2),
 (('Czech Republic', 'Triathlon'), 1),
 (('Canada', 'Trampoline'), 6),
 (('Russia', 'Taekwondo'), 3),
 (('Cuba', 'Taekwondo'), 5),
 (('Mexico', 'Taekwondo'), 6),
 (('Germany', 'Taekwondo'), 2),
 (('France', 'Taekwondo'), 6),
 (('China', 'Taekwondo'), 8),
 (('South Korea', 'Taekwondo'), 14),
 (('Serbia', 'Taekwondo'), 1),
 (('Italy', 'Taekwondo'), 3),
 (('Afghanistan', 'Taekwondo'), 2),
 (('Gabon', 'Taekwondo'), 1),
 (('Chinese Taipei', 'Taekwondo'), 8),
 (('Nigeria', 'Taekwondo'), 1),
 (('Venezuela', 'Taekwondo'), 2),
 (('Dominican Republic', 'Taekwondo'), 1),
 (('Egypt', 'Taekwondo'), 1),
 (('Australia', 'Taekwondo'), 2),
 (('Japan', 'Taekwondo'), 1),
 (('Argentina', 'Tennis'), 3),
 (('Switzerland', 'Tennis'), 3),
 (('Spain', 'Tennis'), 7),
 (('Croatia', 'Tennis'), 2),
 (('Belgium', 'Tennis'), 3),
 (('Netherlands', 'Tennis'), 2),
 (('Canada', 'Tennis'), 2),
 (('Canada', 'Synchronized Swimming'), 8),
 (('Canada', 'Swimming'), 5),
 (('Denmark', 'Swimming'), 1),
 (('Slovenia', 'Swimming'), 1),
 (('Norway', 'Swimming'), 2),
 (('Argentina', 'Swimming'), 1),
 (('Croatia', 'Swimming'), 1),
 (('Norway', 'Speed Skating'), 3),
 (('Poland', 'Speed Skating'), 3),
 (('United States', 'Softball'), 45),
 (('Canada', 'Snowboarding'), 4),
 (('United States', 'Snowboarding'), 17),
 (('Austria', 'Snowboarding'), 3),
 (('Switzerland', 'Snowboarding'), 7),
 (('Finland', 'Snowboarding'), 2),
 (('Netherlands', 'Snowboarding'), 1),
 (('Norway', 'Snowboarding'), 1),
 (('Slovenia', 'Ski Jumping'), 4),
 (('Germany', 'Skeleton'), 2),
 (('Russia', 'Skeleton'), 1),
 (('Kuwait', 'Shooting'), 2),
 (('Slovakia', 'Shooting'), 4),
 (('Sweden', 'Shooting'), 3),
 (('France', 'Shooting'), 5),
 (('Serbia', 'Shooting'), 2),
 (('Romania', 'Shooting'), 2),
 (('Cuba', 'Shooting'), 3),
 (('Germany', 'Shooting'), 7),
 (('Australia', 'Shooting'), 6),
 (('United Arab Emirates', 'Shooting'), 1),
 (('Hungary', 'Shooting'), 2),
 (('Serbia and Montenegro', 'Shooting'), 2),
 (('Lithuania', 'Shooting'), 1),
 (('Australia', 'Sailing'), 21),
 (('Cyprus', 'Sailing'), 1),
 (('France', 'Sailing'), 8),
 (('Sweden', 'Sailing'), 8),
 (('China', 'Sailing'), 4),
 (('Germany', 'Sailing'), 8),
 (('Italy', 'Sailing'), 5),
 (('Lithuania', 'Sailing'), 1),
 (('Israel', 'Sailing'), 2),
 (('Ukraine', 'Sailing'), 7),
 (('Japan', 'Sailing'), 2),
 (('Czech Republic', 'Sailing'), 1),
 (('Denmark', 'Rowing'), 21),
 (('Great Britain', 'Rowing'), 80),
 (('Canada', 'Rowing'), 48),
 (('New Zealand', 'Rowing'), 17),
 (('South Africa', 'Rowing'), 6),
 (('United States', 'Rowing'), 60),
 (('Slovenia', 'Rowing'), 6),
 (('Poland', 'Rowing'), 14),
 (('Greece', 'Rowing'), 6),
 (('Croatia', 'Rowing'), 15),
 (('Belarus', 'Rowing'), 7),
 (('Finland', 'Rowing'), 2),
 (('Norway', 'Rowing'), 4),
 (('Switzerland', 'Rowing'), 1),
 (('Italy', 'Rhythmic Gymnastics'), 12),
 (('Russia', 'Rhythmic Gymnastics'), 31),
 (('Ukraine', 'Rhythmic Gymnastics'), 2),
 (('China', 'Rhythmic Gymnastics'), 6),
 (('Bulgaria', 'Rhythmic Gymnastics'), 6),
 (('France', 'Nordic Combined'), 1),
 (('Italy', 'Nordic Combined'), 1),
 (('Brazil', 'Modern Pentathlon'), 1),
 (('Great Britain', 'Modern Pentathlon'), 5),
 (('Latvia', 'Modern Pentathlon'), 1),
 (('United States', 'Modern Pentathlon'), 1),
 (('Belarus', 'Modern Pentathlon'), 1),
 (('Austria', 'Luge'), 6),
 (('Latvia', 'Luge'), 3),
 (('United States', 'Luge'), 4),
 (('Cuba', 'Judo'), 20),
 (('Germany', 'Judo'), 10),
 (('Romania', 'Judo'), 4),
 (('Hungary', 'Judo'), 2),
 (('France', 'Judo'), 18),
 (('Japan', 'Judo'), 32),
 (('Italy', 'Judo'), 7),
 (('Russia', 'Judo'), 13),
 (('South Korea', 'Judo'), 15),
 (('Uzbekistan', 'Judo'), 3),
 (('China', 'Judo'), 15),
 (('Ukraine', 'Judo'), 3),
 (('Egypt', 'Judo'), 1),
 (('Bulgaria', 'Judo'), 1),
 (('Slovakia', 'Judo'), 1),
 (('Estonia', 'Judo'), 3),
 (('Israel', 'Judo'), 1),
 (('Australia', 'Judo'), 1),
 (('Canada', 'Ice Hockey'), 105),
 (('United States', 'Ice Hockey'), 106),
 (('Finland', 'Ice Hockey'), 64),
 (('Argentina', 'Hockey'), 65),
 (('Netherlands', 'Hockey'), 113),
 (('Great Britain', 'Hockey'), 16),
 (('Spain', 'Hockey'), 16),
 (('Spain', 'Handball'), 44),
 (('Croatia', 'Handball'), 30),
 (('Norway', 'Handball'), 43),
 (('Montenegro', 'Handball'), 14),
 (('Denmark', 'Handball'), 30),
 (('Brazil', 'Gymnastics'), 1),
 (('Netherlands', 'Gymnastics'), 1),
 (('Poland', 'Gymnastics'), 2),
 (('Spain', 'Gymnastics'), 4),
 (('North Korea', 'Gymnastics'), 1),
 (('Croatia', 'Gymnastics'), 1),
 (('Latvia', 'Gymnastics'), 2),
 (('Canada', 'Gymnastics'), 1),
 (('Greece', 'Gymnastics'), 2),
 (('Brazil', 'Football'), 70),
 (('United States', 'Football'), 64),
 (('Canada', 'Football'), 18),
 (('Argentina', 'Football'), 34),
 (('Paraguay', 'Football'), 17),
 (('Cameroon', 'Football'), 18),
 (('Spain', 'Football'), 17),
 (('Norway', 'Football'), 17),
 (('Japan', 'Figure Skating'), 3),
 (('Russia', 'Figure Skating'), 16),
 (('South Korea', 'Figure Skating'), 1),
 (('China', 'Figure Skating'), 10),
 (('Germany', 'Figure Skating'), 2),
 (('Ukraine', 'Figure Skating'), 2),
 (('France', 'Figure Skating'), 2),
 (('Italy', 'Figure Skating'), 2),
 (('Australia', 'Freestyle Skiing'), 5),
 (('China', 'Freestyle Skiing'), 5),
 (('France', 'Freestyle Skiing'), 3),
 (('Russia', 'Freestyle Skiing'), 1),
 (('Japan', 'Freestyle Skiing'), 1),
 (('Czech Republic', 'Freestyle Skiing'), 1),
 (('Egypt', 'Fencing'), 1),
 (('Japan', 'Fencing'), 5),
 (('South Korea', 'Fencing'), 18),
 (('Russia', 'Fencing'), 32),
 (('Romania', 'Fencing'), 7),
 (('Ukraine', 'Fencing'), 7),
 (('Venezuela', 'Fencing'), 1),
 (('Hungary', 'Fencing'), 9),
 (('Cuba', 'Fencing'), 3),
 (('Saudi Arabia', 'Equestrian'), 5),
 (('Sweden', 'Equestrian'), 6),
 (('France', 'Equestrian'), 5),
 (('Great Britain', 'Diving'), 3),
 (('Malaysia', 'Diving'), 1),
 (('Greece', 'Diving'), 2),
 (('Italy', 'Cycling'), 7),
 (('Czech Republic', 'Cycling'), 1),
 (('Cuba', 'Cycling'), 1),
 (('Sweden', 'Cycling'), 2),
 (('Ukraine', 'Cycling'), 6),
 (('Japan', 'Cycling'), 4),
 (('Mexico', 'Cycling'), 1),
 (('Lithuania', 'Cycling'), 1),
 (('Sweden', 'Curling'), 8),
 (('China', 'Curling'), 4),
 (('France', 'Cross Country Skiing'), 1),
 (('New Zealand', 'Canoeing'), 2),
 (('South Africa', 'Canoeing'), 1),
 (('Poland', 'Canoeing'), 16),
 (('Portugal', 'Canoeing'), 2),
 (('Togo', 'Canoeing'), 1),
 (('Denmark', 'Canoeing'), 2),
 (('Austria', 'Canoeing'), 1),
 (('United States', 'Canoeing'), 1),
 (('United States', 'Baseball'), 48),
 (('Russia', 'Boxing'), 22),
 (('Cuba', 'Boxing'), 26),
 (('Uzbekistan', 'Boxing'), 6),
 (('Ukraine', 'Boxing'), 12),
 (('Italy', 'Boxing'), 8),
 (('South Korea', 'Boxing'), 4),
 (('China', 'Boxing'), 8),
 (('Japan', 'Boxing'), 2),
 (('Lithuania', 'Boxing'), 1),
 (('Bulgaria', 'Boxing'), 2),
 (('Dominican Republic', 'Boxing'), 1),
 (('France', 'Boxing'), 6),
 (('Mauritius', 'Boxing'), 1),
 (('Egypt', 'Boxing'), 3),
 (('Syria', 'Boxing'), 1),
 (('Romania', 'Boxing'), 3),
 (('Germany', 'Boxing'), 3),
 (('Mexico', 'Boxing'), 1),
 (('Hungary', 'Boxing'), 1),
 (('Czech Republic', 'Boxing'), 1),
 (('Morocco', 'Boxing'), 1),
 (('Canada', 'Bobsleigh'), 10),
 (('United States', 'Bobsleigh'), 18),
 (('Ukraine', 'Biathlon'), 1),
 (('Bulgaria', 'Biathlon'), 1),
 (('Brazil', 'Beach Volleyball'), 18),
 (('United States', 'Beach Volleyball'), 14),
 (('Latvia', 'Beach Volleyball'), 2),
 (('Spain', 'Beach Volleyball'), 2),
 (('Switzerland', 'Beach Volleyball'), 2),
 (('United States', 'Basketball'), 95),
 (('Spain', 'Basketball'), 24),
 (('Argentina', 'Basketball'), 24),
 (('Brazil', 'Basketball'), 12),
 (('Japan', 'Badminton'), 2),
 (('Russia', 'Badminton'), 2),
 (('Tunisia', 'Athletics'), 1),
 (('Botswana', 'Athletics'), 1),
 (('Ukraine', 'Athletics'), 17),
 (('China', 'Athletics'), 11),
 (('Italy', 'Athletics'), 8),
 (('Germany', 'Athletics'), 16),
 (('Czech Republic', 'Athletics'), 7),
 (('Bahrain', 'Athletics'), 1),
 (('Estonia', 'Athletics'), 4),
 (('Uganda', 'Athletics'), 1),
 (('France', 'Athletics'), 9),
 (('Japan', 'Athletics'), 8),
 (('Hungary', 'Athletics'), 2),
 (('Dominican Republic', 'Athletics'), 3),
 (('Cuba', 'Athletics'), 21),
 (('Lithuania', 'Athletics'), 4),
 (('Nigeria', 'Athletics'), 21),
 (('Ecuador', 'Athletics'), 1),
 (('Mexico', 'Athletics'), 3),
 (('Sweden', 'Athletics'), 4),
 (('Saudi Arabia', 'Athletics'), 1),
 (('Iceland', 'Athletics'), 1),
 (('Sri Lanka', 'Athletics'), 1),
 (('Bulgaria', 'Athletics'), 1),
 (('Mozambique', 'Athletics'), 1),
 (('Barbados', 'Athletics'), 1),
 (('Italy', 'Alpine Skiing'), 4),
 (('Czech Republic', 'Alpine Skiing'), 1),
 (('France', 'Alpine Skiing'), 6),
 (('Great Britain', 'Archery'), 1),
 (('Netherlands', 'Archery'), 1),
 (('Russia', 'Gymnastics'), 47),
 (('Australia', 'Swimming'), 163),
 (('Norway', 'Cross Country Skiing'), 38),
 (('China', 'Swimming'), 35),
 (('South Korea', 'Short-Track Speed Skating'), 37),
 (('Russia', 'Diving'), 25),
 (('Netherlands', 'Cycling'), 12),
 (('Norway', 'Biathlon'), 26),
 (('Croatia', 'Alpine Skiing'), 9),
 (('France', 'Swimming'), 39),
 (('Japan', 'Swimming'), 43),
 (('Hungary', 'Swimming'), 9),
 (('Germany', 'Swimming'), 32),
 (('Sweden', 'Swimming'), 9),
 (('Ukraine', 'Swimming'), 7),
 (('Italy', 'Swimming'), 16),
 (('China', 'Short-Track Speed Skating'), 26),
 (('Germany', 'Speed Skating'), 22),
 (('Czech Republic', 'Speed Skating'), 3),
 (('Italy', 'Speed Skating'), 6),
 (('United States', 'Nordic Combined'), 7),
 (('Austria', 'Nordic Combined'), 17),
 (('Finland', 'Nordic Combined'), 11),
 (('Japan', 'Gymnastics'), 23),
 (('China', 'Gymnastics'), 51),
 (('Romania', 'Gymnastics'), 45),
 (('Great Britain', 'Cycling'), 58),
 (('Poland', 'Cross Country Skiing'), 4),
 (('Jamaica', 'Athletics'), 80),
 (('United States', 'Athletics'), 147),
 (('United States', 'Alpine Skiing'), 12),
 (('Norway', 'Alpine Skiing'), 9),
 (('Austria', 'Alpine Skiing'), 27),
 (('China', 'Table Tennis'), 43),
 (('Singapore', 'Table Tennis'), 7),
 (('Germany', 'Table Tennis'), 7),
 (('Chile', 'Tennis'), 5),
 (('China', 'Synchronized Swimming'), 20),
 (('Russia', 'Synchronized Swimming'), 43),
 (('Japan', 'Synchronized Swimming'), 24),
 (('Tunisia', 'Swimming'), 3),
 (('South Korea', 'Swimming'), 4),
 (('Russia', 'Swimming'), 20),
 (('Romania', 'Swimming'), 6),
 (('Slovakia', 'Swimming'), 2),
 (('Costa Rica', 'Swimming'), 2),
 (('Bulgaria', 'Short-Track Speed Skating'), 3),
 (('South Korea', 'Speed Skating'), 6),
 (('Russia', 'Speed Skating'), 9),
 (('Germany', 'Ski Jumping'), 9),
 (('Belarus', 'Shooting'), 6),
 (('Australia', 'Rowing'), 61),
 (('Romania', 'Rowing'), 37),
 (('Norway', 'Nordic Combined'), 2),
 (('Germany', 'Gymnastics'), 5),
 (('Bulgaria', 'Gymnastics'), 4),
 (('Ukraine', 'Gymnastics'), 10),
 (('South Korea', 'Gymnastics'), 6),
 (('United States', 'Fencing'), 19),
 (('Switzerland', 'Fencing'), 5),
 (('Great Britain', 'Equestrian'), 31),
 (('Netherlands', 'Equestrian'), 21),
 (('Canada', 'Equestrian'), 5),
 (('United States', 'Equestrian'), 30),
 (('Spain', 'Equestrian'), 5),
 (('China', 'Diving'), 55),
 (('Australia', 'Diving'), 17),
 (('United States', 'Cycling'), 18),
 (('Switzerland', 'Cycling'), 10),
 (('Spain', 'Cycling'), 15),
 (('New Zealand', 'Cycling'), 14),
 (('Finland', 'Cross Country Skiing'), 7),
 (('Germany', 'Canoeing'), 68),
 (('Hungary', 'Canoeing'), 54),
 (('Ukraine', 'Canoeing'), 9),
 (('Australia', 'Canoeing'), 19),
 (('Russia', 'Canoeing'), 16),
 (('Bulgaria', 'Canoeing'), 2),
 (('Romania', 'Canoeing'), 8),
 (('Germany', 'Bobsleigh'), 26),
 (('Austria', 'Biathlon'), 6),
 (('Great Britain', 'Athletics'), 23),
 (('Turkey', 'Athletics'), 5),
 (('Poland', 'Athletics'), 10),
 (('Slovenia', 'Alpine Skiing'), 2),
 (('South Korea', 'Archery'), 34),
 (('China', 'Archery'), 14),
 (('Armenia', 'Wrestling'), 4),
 (('Azerbaijan', 'Wrestling'), 13),
 (('United States', 'Wrestling'), 20),
 (('India', 'Wrestling'), 3),
 (('Puerto Rico', 'Wrestling'), 1),
 (('Kazakhstan', 'Wrestling'), 12),
 (('Iran', 'Wrestling'), 11),
 (('Georgia', 'Wrestling'), 14),
 (('Canada', 'Wrestling'), 6),
 (('Poland', 'Wrestling'), 2),
 (('Turkey', 'Wrestling'), 8),
 (('Colombia', 'Wrestling'), 2),
 (('Mongolia', 'Wrestling'), 1),
 (('Spain', 'Wrestling'), 1),
 (('North Korea', 'Wrestling'), 2),
 (('Tajikistan', 'Wrestling'), 1),
 (('Kyrgyzstan', 'Wrestling'), 2),
 (('Belarus', 'Wrestling'), 4),
 (('Greece', 'Wrestling'), 2),
 (('Finland', 'Wrestling'), 2),
 (('Russia', 'Weightlifting'), 24),
 (('Cuba', 'Weightlifting'), 1),
 (('Romania', 'Weightlifting'), 2),
 (('Chinese Taipei', 'Weightlifting'), 5),
 (('Ukraine', 'Weightlifting'), 6),
 (('China', 'Weightlifting'), 31),
 (('Japan', 'Weightlifting'), 1),
 (('France', 'Weightlifting'), 1),
 (('South Korea', 'Weightlifting'), 5),
 (('Germany', 'Weightlifting'), 3),
 (('Bulgaria', 'Weightlifting'), 5),
 (('Hungary', 'Weightlifting'), 2),
 (('Venezuela', 'Weightlifting'), 1),
 (('Mexico', 'Weightlifting'), 1),
 (('Nigeria', 'Weightlifting'), 1),
 (('Italy', 'Waterpolo'), 26),
 (('Serbia', 'Waterpolo'), 26),
 (('Australia', 'Waterpolo'), 39),
 (('Hungary', 'Waterpolo'), 39),
 (('Russia', 'Waterpolo'), 38),
 (('Serbia and Montenegro', 'Waterpolo'), 25),
 (('Russia', 'Volleyball'), 70),
 (('Japan', 'Volleyball'), 12),
 (('Italy', 'Volleyball'), 36),
 (('China', 'Volleyball'), 24),
 (('Cuba', 'Volleyball'), 20),
 (('Serbia and Montenegro', 'Volleyball'), 11),
 (('Japan', 'Table Tennis'), 3),
 (('South Korea', 'Table Tennis'), 15),
 (('Chinese Taipei', 'Table Tennis'), 1),
 (('France', 'Table Tennis'), 2),
 (('Sweden', 'Table Tennis'), 1),
 (('Great Britain', 'Triathlon'), 2),
 (('Spain', 'Triathlon'), 1),
 (('Switzerland', 'Triathlon'), 4),
 (('New Zealand', 'Triathlon'), 3),
 (('Portugal', 'Triathlon'), 1),
 (('Canada', 'Triathlon'), 2),
 (('Austria', 'Triathlon'), 1),
 (('United States', 'Triathlon'), 1),
 (('China', 'Trampoline'), 8),
 (('Russia', 'Trampoline'), 4),
 (('Uzbekistan', 'Trampoline'), 1),
 (('Germany', 'Trampoline'), 2),
 (('Ukraine', 'Trampoline'), 2),
 (('Australia', 'Trampoline'), 1),
 (('Argentina', 'Taekwondo'), 1),
 (('Spain', 'Taekwondo'), 4),
 (('United States', 'Taekwondo'), 8),
 (('Great Britain', 'Taekwondo'), 3),
 (('Iran', 'Taekwondo'), 5),
 (('Colombia', 'Taekwondo'), 1),
 (('Thailand', 'Taekwondo'), 3),
 (('Turkey', 'Taekwondo'), 6),
 (('Croatia', 'Taekwondo'), 3),
 (('Kazakhstan', 'Taekwondo'), 1),
 (('Brazil', 'Taekwondo'), 1),
 (('Greece', 'Taekwondo'), 4),
 (('Canada', 'Taekwondo'), 2),
 (('Norway', 'Taekwondo'), 2),
 (('Vietnam', 'Taekwondo'), 1),
 (('France', 'Tennis'), 6),
 (('Czech Republic', 'Tennis'), 2),
 (('Russia', 'Tennis'), 8),
 (('Sweden', 'Tennis'), 2),
 (('China', 'Tennis'), 4),
 (('Serbia', 'Tennis'), 1),
 (('Germany', 'Tennis'), 3),
 (('Australia', 'Tennis'), 3),
 (('France', 'Synchronized Swimming'), 2),
 (('Lithuania', 'Swimming'), 1),
 (('Serbia', 'Swimming'), 1),
 (('Trinidad and Tobago', 'Swimming'), 1),
 (('Italy', 'Short-Track Speed Skating'), 10),
 (('Australia', 'Short-Track Speed Skating'), 1),
 (('Japan', 'Speed Skating'), 6),
 (('China', 'Speed Skating'), 3),
 (('Australia', 'Softball'), 45),
 (('Japan', 'Softball'), 44),
 (('France', 'Snowboarding'), 7),
 (('Australia', 'Snowboarding'), 1),
 (('Russia', 'Snowboarding'), 1),
 (('Germany', 'Snowboarding'), 1),
 (('Slovakia', 'Snowboarding'), 1),
 (('Sweden', 'Snowboarding'), 1),
 (('Italy', 'Snowboarding'), 1),
 (('Latvia', 'Skeleton'), 1),
 (('Canada', 'Skeleton'), 4),

In [ ]:
# for Gymnastics (filtered output)
gymnastics_rdd = agg_country_event_rdd.filter(lambda x: x[0][1] == "Gymnastics")
print("\nTotal medals won by each country in Gymnastics:")
for entry in gymnastics_rdd.collect():
    print(entry)

In [85]:
# check against pandas DataFrame
# pd_df_olympics[pd_df_olympics.country=='Netherlands'].groupby(['country', 'event']).total.sum()

In [92]:
# Question 2(b) - Total Medals won by INDIA each Olymic Game Year

# Country_year Key paired with Medals (Gold, Silver, Broze, Total)
country_year_rdd = rdd_olympics.map(lambda x: ((x[2], x[3]), (x[6], x[7], x[8], x[9])))
agg_country_year_rdd = country_year_rdd.map(lambda x: (x[0], x[1][3])).reduceByKey(lambda a, b: a + b) # keeping only the total medal colums
agg_country_year_india_rdd = agg_country_year_rdd.filter(lambda x: x[0][0] == 'India')
print("\nAnswer to Q.2(b) - \n")
agg_country_year_india_rdd.collect()

Answer to Q.2(b) -

[(('India', 2012), 6),
 (('India', 2008), 3),
 (('India', 2000), 1),
 (('India', 2004), 1)]

In [93]:
# check against pandas DataFrame
# pd_df_olympics[pd_df_olympics.country=='India'].groupby(['country', 'year']).total.sum()

In [95]:
# Question 2(c) - Top 3 countries in term of total Medals won by each Olymic Game Year

# Country_year Key paired with country and Medals (country, Total)
year_country_medals = agg_country_year_rdd.map(lambda x: (x[0][1], (x[0][0], x[1])))
grouped_by_year = year_country_medals.groupByKey() # Group by year
# For each year, sort countries by medal count and take top 3
top3_by_year = grouped_by_year.mapValues(lambda countries: sorted(countries, key=lambda x: x[1], reverse=True)[:3])
top3_by_year.sortBy(lambda x: x[0]).collect()

[(2000, [('United States', 243), ('Russia', 187), ('Australia', 183)]),
 (2002, [('United States', 84), ('Canada', 74), ('Germany', 61)]),
 (2004, [('United States', 265), ('Russia', 191), ('Australia', 156)]),
 (2006, [('Canada', 69), ('Sweden', 64), ('Germany', 54)]),
 (2008, [('United States', 317), ('China', 184), ('Australia', 149)]),
 (2010, [('United States', 97), ('Canada', 90), ('Germany', 54)]),
 (2012, [('United States', 254), ('Russia', 140), ('Great Britain', 126)])]

In [98]:
# check against pandas DataFrame
# df = pd_df_olympics.groupby(['year', 'country']).total.sum().reset_index()
# df['_rank'] = df.groupby('year')['total'].rank(ascending=False, method='dense').astype(int)
# df = df[df._rank<=3].sort_values(['year', '_rank'])
# df[df.year==2002]

#### Question 3

In [ ]:
#Question - 3

# to read input from the command line.
import sys
# spark configuration helps in naming spark, the how many cores to us and memory
#sparkcontextto create RDDs
from pyspark import SparkConf, SparkContext
# to be able to perform cosine similarity statistic
from math import sqrt

#load the movie data and store in dictionary
#defining the function
def loadMovieNames():
#creating dictionary
    movieNames = {}
#locating file in cloudera
    with open("/home/cloudera/moviedata/itemfile.txt") as f:
#scan through everyline
        for line in f:
#split by pipe character and stores the result in fields.
            fields = line.split('|')
#Converts the first field to an integer and uses it as the key in the dictionary, with the second field as the value
            movieNames[int(fields[0])] = fields[1].decode('ascii', 'ignore')
#returns movie name dictionary
    return movieNames
#makepairs is a funtion used to group data here as per user and ratings
def makePairs((user, ratings)):
#Extract movie rating pair- 1
    (movie1, rating1) = ratings[0]
#EExtract movie rating pair- 2
    (movie2, rating2) = ratings[1]
#return movies and rating as individual pairs
    return ((movie1, movie2), (rating1, rating2))

#remove duplicate
def filterDuplicates( (userID, ratings) ):
    (movie1, rating1) = ratings[0]
    (movie2, rating2) = ratings[1]
    return movie1 < movie2

#using cosinesimililarity to check the similarities between the rating pairs
def computeCosineSimilarity(ratingPairs):
#to keep a track of how many pairs we are computing
    numPairs = 0
    #x: first number in a pair;
    #y; second number in a pair;
    #xy= the product
    sum_xx = sum_yy = sum_xy = 0
    for ratingX, ratingY in ratingPairs:
#square of x,y and product of x&y as per the cosinesimililarity
        sum_xx += ratingX * ratingX
        sum_yy += ratingY * ratingY
        sum_xy += ratingX * ratingY
        numPairs += 1
#defining the formula
    numerator = sum_xy
    denominator = sqrt(sum_xx) * sqrt(sum_yy)

    score = 0
    if (denominator):
        score = (numerator / (float(denominator)))

    return (score, numPairs)

# now is when we work with spark and create RDD
conf = SparkConf().setMaster("local[*]").setAppName("MovieSimilarities") #creating the spark app name as "MovieSimilarities"
sc = SparkContext(conf = conf) #creating spark variable

print "\nLoading movie names..." #JUST TO INFORM
nameDict = loadMovieNames() #creating dictionary- calling loadmovienames

data = sc.textFile("file:///home/cloudera/moviedata/datafile2.txt") #SOURCE OF DATA: reading from textfile

#Converting a line of the data in the RDD to a list containing rating information
ratings = data.map(lambda l: l.split()).map(lambda l: (int(l[0]), (int(l[1]), float(l[2]))))

#Result: for each user, it gives all pairs of movies they've rated.
joinedRatings = ratings.join(ratings) #self-join

#Removes duplicate movie pairs and self-pairs (like (Movie1, Movie1)).
uniqueJoinedRatings = joinedRatings.filter(filterDuplicates)

#Converts joined data into actual movie pairs with their ratings.
moviePairs = uniqueJoinedRatings.map(makePairs)

#Groups all rating pairs for each unique movie pair.
moviePairRatings = moviePairs.groupByKey()

#Example Pair:((22, 35), (similarityScore, numberOfRatingsInCommon))
moviePairSimilarities = moviePairRatings.mapValues(computeCosineSimilarity).cache()

if (len(sys.argv) > 1): #condition for running next block

#setting the threshold
    scoreThreshold = 0.10
    coOccurenceThreshold = 2

#extracting movie ID
    movieID = int(sys.argv[1])

# Filtering movie pairs based on the set threshold
    filteredResults = moviePairSimilarities.filter(lambda((pair,sim)): \
        (pair[0] == movieID or pair[1] == movieID) \
        and sim[0] > scoreThreshold and sim[1] > coOccurenceThreshold)

#Extracting top 10 pairs based on the similarity scores
    results = filteredResults.map(lambda((pair,sim)): (sim, pair)).sortByKey(ascending = False).take(10)

#printing the final output as movie and similar movie set
    print "Top 10 similar movies for " + nameDict[movieID] #this is the original movie
    for result in results: #looping in all the top 10 similar movies against the original movie
        (sim, pair) = result
        similarMovieID = pair[0] #taking the first movie from the pair
        if (similarMovieID == movieID): #checking if the movie is same as original movie. If yes, then replace the similar movie ID from the pair.
            similarMovieID = pair[1]
        print nameDict[similarMovieID] + "\tscore: " + str(sim[0]) + "\tstrength: " + str(sim[1]) #print the similarity score and the similar movie ID